<div class='side-menu'>
    <!-- <div class="list-group-item p-left pointer">
        <img class="icon-image" src="../assets/Menu Icons/menu.svg" alt="" (click)='onMenuClick()' />
    </div> -->
    <div [ngClass]="isCollapsed ? 'menu-w-6 animation overflow-hidden' : 'menu-w-0 animation overflow-hidden'">
        <ul class="list-group list-group-flush menu-w-6  z-index-0">
            <li routerLinkActive='active' class='list-group-item hover' routerLink="./master">
                <a class='d-flex'>
                    <!-- <span class='d-inline-block mr-3'><img class="icon-image" src="../assets/Menu Icons/home.png" alt="" /></span> -->
                    <div [ngClass]="isCollapsed ? 'd-flex w-100 animation' : 'd-none animation'">
                        <span class="text mr-2">Charity Project</span>
                        <span class="align-self-center badge badge-light"></span>
                    </div>
                </a>
            </li>
            <li routerLinkActive='active' class='list-group-item hover' routerLink="./master">
                <a class='d-flex'>
                    <span class='d-inline-block mr-3'><img class="icon-image" src="../assets/Menu Icons/home.png" alt="" /></span>
                    <div [ngClass]="isCollapsed ? 'd-flex w-100 animation' : 'd-none animation'">
                        <span class="text mr-2">Master</span>
                        <span class="align-self-center badge badge-light"></span>
                    </div>
                </a>
            </li>
            <li routerLinkActive='active' class='list-group-item hover' routerLink="./transactions">
                <a class='d-flex'>
                    <span class='d-inline-block mr-3'><img class="icon-image" src="../assets/Menu Icons/Tasklist.svg"
              alt="" /></span>
                    <div [ngClass]="isCollapsed ? 'd-flex w-100 animation' : 'd-none animation'">
                        <span class="text mr-2">Transactions</span>
                        <!-- <span class="align-self-center badge badge-light">25</span> -->
                    </div>
                </a>
            </li>
            <li routerLinkActive='active' class='list-group-item hover' routerLink="./finance-report">
                <a class='d-flex'>
                    <span class='d-inline-block mr-3'><img class="icon-image" src="../assets/Menu Icons/Tasklist.svg"
              alt="" /></span>
                    <div [ngClass]="isCollapsed ? 'd-flex w-100 animation' : 'd-none animation'">
                        <span class="text mr-2">Finance Report</span>
                        <!-- <span class="align-self-center badge badge-light">25</span> -->
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>